<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/monsis/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monsis/css/simple-sidebar.css') }}" rel="stylesheet">
    <!-- Jquery-ui core CSS -->    
    <link href="{{ asset('bundles/monsis/css/jquery.qtip.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monsis/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monsis/css/dataTables.bootstrap.css') }}" rel="stylesheet">  
    <link href="{{ asset('bundles/monsis/js/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/monsis/images/fonasalogo.png') }}" />
        <style type="text/css">
            .qtip-content {
                font-size:14px;
                padding: 10px
            }
            
            .cols {
                text-align: center;
                /*font-size:13px;
                font-family: Arial, Helvetica, sans-serif;*/
            }
            
            /**
            * Progress bars with centered text
            */

           .progress {
               position: relative;
               margin-bottom: 0px;
               border: 1px solid black;               
           }
                                 
           /*
           .btn{
               border: 1px solid black;               
           }
           */

            .progress span.black-font {
                position: absolute;
                display: block;
                width: 100%;
                color: black;
             }
             
            .toolbar{
                float: right;                
            }
                  
            th:after {
                content: none !important;
             }
             
             .navbar .divider-vertical {
                height: 50px;
                margin: 0 9px;
                border-right: 2px solid #ffffff;
                border-left: 2px solid #f2f2f2;                
            }

            .navbar-inverse .divider-vertical {
                border-right-color: #222222;
                border-left-color: #111111;
            }

            @media (max-width: 767px) {
                .navbar-collapse .nav > .divider-vertical {
                    display: none;
                 }
            }
                        
            .navbar-form select{                
                margin-right: 10px;                                
            }
            
            .navbar-form label{                
                font-size: 14px;                                
                font-weight: normal;
            }
            
            
            .tab-content .tab-pane .highcharts-container {
                border: 1px solid graytext;
            }
            

            .tab-content > .tab-pane:not(.active) {
                display: block;
                height: 0;
                overflow-y: hidden;
            }
           
        </style>
  </head>

  <body data-spy="scroll" data-target=".navbar-default">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fonasa-Monitor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if is_granted("ROLE_ADMIN") %}                
                <li class="{% if app.session.get('active') == 'incidencia_index'%}active{% endif %}">
                    <a href="{{ path('incidencia_index') }}">Incidencias</a></li>
                <li class="{% if app.session.get('active') == 'mantencion_index'%}active{% endif %}">
                    <a href="{{ path('mantencion_index') }}">Mantenciones</a></li>
            {% endif %}
            {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                <li class="active"><a href="{{ path('dashboard_index') }}">Dashboard</a></li>                                
            {% endif %}
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <b class="caret"></b></a>                    
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_profile_show')}}">Perfil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </li>
            </ul>
            {% if app.request.attributes.get('_route') in ['incidencia_index'] %}            
                  {% block filtro %}                      
                  {% endblock %}            
            {% endif %}                    
        </div><!--/.nav-collapse -->
      </div>
    </nav>
                   
    <div class="container">
	<div class="row">                           
            <div class="col-md-12">
                  {% block body %}
                  {% endblock %}
            </div><!--/right-->
        </div><!--/row-->
    </div><!--/container-->
        <!-- /#page-content-wrapper -->   
    
    <script src="{{ asset('bundles/monsis/js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/monsis/js/datepicker-es.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/imagesloaded.pkg.min.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/dataTables.jqueryui.min.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/highcharts-3d.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/modules/exporting.js') }}"></script>
    <script src="{{ asset('bundles/monsis/js/modules/drilldown.js') }}"></script>
    {% block javascripts %}
    <script>            
    /*
    $(function() {                        
        $('.nav li').click(function(e) {            
            $('.navbar li.active').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
            //e.preventDefault();
        });        
    });
    */
    </script>
    {% endblock %}
  
  </body>
</html>