<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->            
    
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/monitor/images/logominsal.png') }}" />

    <title>{% block title %}Monitor de Incidencias y Mantenciones{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/monitor/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monitor/css/simple-sidebar.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monitor/css/font-awesome.min.css') }}" rel="stylesheet">
    
    <!-- Jquery-ui core CSS -->    
    <link href="{{ asset('bundles/monitor/css/jquery.qtip.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monitor/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monitor/css/buttons.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/monitor/css/dataTables.bootstrap.css') }}" rel="stylesheet">  
    <link href="{{ asset('bundles/monitor/css/circle.css') }}" rel="stylesheet">        
    <link href="{{ asset('bundles/monitor/js/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">      
    <link href="{{ asset('bundles/monitor/css/jquery.timelineMe.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/monitor/images/fonasalogo.png') }}" />
        <style type="text/css">
            .qtip-content {
                font-size:14px;
                padding: 10px
            }
            
            .cols {
                text-align: center;
                /*font-size:13px;
                font-family: Arial, Helvetica, sans-serif;*/
            }
            
            .fillRate{
                padding: 1em !important;
                margin: 0px !important;                
            }
            
            /**
            * Progress bars with centered text
            */

           .progress {
               position: relative;
               margin-bottom: 0px;
               border: 1px solid black;               
           }
                                 
           /*
           .btn{
               border: 1px solid black;               
           }
           */

            .progress span.black-font {
                position: absolute;
                display: block;
                width: 100%;
                color: black;
             }
             
            .toolbar{
                float: right;                
            }
                  
            th:after {
                content: none !important;
             }
             
             .navbar .divider-vertical {
                height: 50px;
                margin: 0 9px;
                border-right: 2px solid #ffffff;
                border-left: 2px solid #f2f2f2;                
            }

            .navbar-inverse .divider-vertical {
                border-right-color: #222222;
                border-left-color: #111111;
            }

            @media (max-width: 767px) {
                .navbar-collapse .nav > .divider-vertical {
                    display: none;
                 }
            }
                        
            .navbar-form select{                
                margin-right: 10px;                                
            }
            
            .navbar-form label{                
                font-size: 14px;                                
                font-weight: normal;
            }
            
            
            .tab-content .tab-pane .highcharts-container {
                border: 1px solid graytext;
            }
            

            .tab-content > .tab-pane:not(.active) {
                display: block;
                height: 0;
                overflow-y: hidden;
            }
            
            fieldset.scheduler-border {
                border: 1px groove #ddd !important;
                padding: 0 1.4em 1.4em 1.4em !important;
                margin: 0 0 1.5em 0 !important;
                -webkit-box-shadow:  0px 0px 0px 0px #000;
                        box-shadow:  0px 0px 0px 0px #000;
            }

            legend.scheduler-border {
                font-size: 1.2em !important;
                font-weight: bold !important;
                text-align: left !important;

            }            
            
            legend.scheduler-border {
                width:inherit; /* Or auto */
                padding:0 10px; /* To give a bit of padding on the left and right */
                border-bottom:none;
            }
            
            .table td{
                border-top: 0px !important;
            }
            
            .table th{
                border-top: 0px !important;
            }
            
            .dropdown-menu>li
            {	position:relative;
                    -webkit-user-select: none; /* Chrome/Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+ */
                    /* Rules below not implemented in browsers yet */
                    -o-user-select: none;
                    user-select: none;
                    cursor:pointer;
            }
            .dropdown-menu .sub-menu {
                left: 100%;
                position: absolute;
                top: 0;
                display:none;
                margin-top: -1px;
                border-top-left-radius:0;
                border-bottom-left-radius:0;
                border-left-color:#fff;
                box-shadow:none;
            }
            .right-caret:after,.left-caret:after
             {	content:"";
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
                display: inline-block;
                height: 0;
                vertical-align: middle;
                width: 0;
                margin-left:5px;
            }
            .right-caret:after
            {	
                /*border-left: 5px solid #ffaf46;*/
                border-left: 5px solid #0A0931;                
            }
            .left-caret:after
            {	border-right: 5px solid #0A0931;                
            }    
            
            .htmlTable2
            {
                BORDER-RIGHT: 2pt solid;
                BORDER-TOP: 2pt solid !important;
                BORDER-LEFT: 2pt solid;
                BACKGROUND-COLOR: #D2EAF9;
                border-color: #0C6CB8;
                BORDER-BOTTOM: 2pt solid;
            }
            
            .htmltablatitleL
            {
                BORDER-RIGHT: #38A0DC 1pt solid;
                BORDER-TOP: #38A0DC 1pt solid;
                FONT: 10pt Arial, Verdana, Tahoma, 'MS Sans Serif';
                TEXT-TRANSFORM: none;
                BORDER-LEFT: #38A0DC 1pt solid;
                COLOR: white;
                BORDER-BOTTOM: #38A0DC 1pt solid;
                BACKGROUND-COLOR: #38A0DC;
                TEXT-DECORATION: none
            }
                                    
            input.text { margin-bottom:12px; width:95%; padding: .4em; }            
            
            .fa-spin-custom, .glyphicon-spin {
                -webkit-animation: spin 1000ms infinite linear;
                animation: spin 1000ms infinite linear;
            }

            .spin{
                -webkit-transform-origin: 50% 58%;
                transform-origin:50% 58%;
                -ms-transform-origin:50% 58%; /* IE 9 */
                -webkit-animation: spin .2s infinite linear;
                -moz-animation: spin .2s infinite linear;
                -o-animation: spin .2s infinite linear;
                animation: spin .2s infinite linear;
           }
           
           @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(359deg);
                    transform: rotate(359deg);
                }
            }
            @keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(359deg);
                    transform: rotate(359deg);
                }
            }
            
            .loader {
                margin-left:8px;
            }
            
            .save {
                margin-left:8px;
                width: 15px;
                height: 15px;
            }
            
            .checkbox {
                margin: 0px !important;                
                padding: 0px !important;                
            }
            
            .checkbox label{                               
                padding: 0px !important;                
            }
            
            /*
            .dataTables_info{
                clear: none !important;
                padding-top: 4px !important;                
                margin-right: 3% !important;
                margin-left: 3% !important;
            }
            */
            
            .dataTables_paginate{
                padding-top: 0px !important;
                margin-top: 0px !important;
                float: right !important;
            }
            
            .elim-doc{
                color: LightSlateGray;
            }
            
            .elim-com{
                color: LightSlateGray;
            }
            
            .file-field{                                                
                border: 1px solid lightgray;                
                margin-bottom: 10px;                
                background-color: ghostwhite;                
                padding:6px;
            }
            
            .file-field .form-group{
                margin:10px;                
            }
            
            .comment-field{                                                
                border: 1px solid lightgray;                
                margin-bottom: 10px;                
                background-color: ghostwhite;                
                padding:6px;
            }
            
            .comment-field .form-group{
                margin:10px;                
            }
            
            
            .timeline-me-shortcontent{                
                background-color: #fffa90;                
            }
            
            .timeline-me-shortcontent:before{                
                background-color: #fffa90;                
            }
            
            .vcenter {                
                display: table-cell;               
                vertical-align: middle;                
            }
            
            
        </style>
  </head>

  <body data-spy="scroll" data-target=".navbar-default">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fonasa-Monitor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">            
            {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                <li class="{% if app.session.get('active') == 'dashboard_index'%}active{% endif %}">
                    <a href="{{ path('dashboard_index') }}">Dashboard</a>
                </li>                                
            {% endif %}              
            <li class="{% if app.session.get('active') == 'incidencia_index'%}active{% endif %}">
                <a href="{{ path('incidencia_index') }}">Incidencias</a></li>
            <li class="{% if app.session.get('active') == 'mantencion_index'%}active{% endif %}">
                <a href="{{ path('mantencion_index') }}">Mantenciones</a></li>                        
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <b class="caret"></b></a>                    
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_profile_show')}}">Perfil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </li>
            </ul>             
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% set width=12 %}
    <div class="container">
	<div class="row">                                       
            {% if app.request.attributes.get('_route') in ['incidencia_index','mantencion_index'] %}                                                     
            {% set width=10 %}
            <div id="sidebar" class="col-md-2 sidebar">
                <ul class="nav nav-sidebar">                                
                    <h3>
                        <li class="nav-header">Filtros</li>
                    </h3>
                    <li id="content">
                        {% block filtro %}
                        {% endblock %}                        
                    </li>                                            
                </ul>                            
            </div>                        
            {% endif %}   
            <div class="col-md-{{width}}">
                {% block body %}
                {% endblock %}
            </div><!--/right-->
        </div><!--/row-->
    </div><!--/container-->
        <!-- /#page-content-wrapper -->   
    
    <script src="{{ asset('bundles/monitor/js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/datepicker-es.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/imagesloaded.pkg.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/dataTables.jqueryui.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/dataTables.bootstrap.min.js') }}"></script>    
    <script src="{{ asset('bundles/monitor/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/jszip.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/buttons.print.min.js') }}"></script>        
    <script src="{{ asset('bundles/monitor/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/highcharts-3d.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/modules/exporting.js') }}"></script>
    <script src="{{ asset('bundles/monitor/js/modules/drilldown.js') }}"></script>                
    <script src="{{ asset('bundles/monitor/js/jquery.timelineMe.js') }}"></script>        
    {% block javascripts %}
    <script>             
    </script>
    {% endblock %}
  
  </body>
</html>