{% extends 'base.html.twig' %}
{% form_theme GlobalFilters 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}    
{% endblock %}
{% block filtro %}                
    <form id="filtros" action="" method="post" style="display:none">   
        {{ form_start(GlobalFilters) }}        
        {{ form_errors(GlobalFilters) }}         
        {{ form_row(GlobalFilters.Componente) }}         
        {{ form_row(GlobalFilters.Estado) }}         
        {{ form_row(GlobalFilters.Mes) }}            
        {{ form_row(GlobalFilters.Anio) }} 
        <div class="form-group">        
            {{ form_label(GlobalFilters.Reset) }}         
            <label id="form_Reset" class="btn btn-warning active form-control">                
                {{ form_widget(GlobalFilters.Reset) }}        
            </label>             
        </div>
        {{ form_end(GlobalFilters) }}                        
    </form>    
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}            
    <div class="alert alert-info alert-dismissible" role="alert">                
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="margin:0px">
            <span class="glyphicon glyphicon glyphicon-ok-sign"></span>&nbsp;
            &nbspOperación realizada con éxito
        </h3>
        <div>
            <ul>
                {% set foo = flash_message|split('|') %}
                {% for var in foo %}                            
                <li style="margin:10px">                    
                    {{ var }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>                    
    {% endfor %}    
    <h2 id="title" ></h2>        
    <br>
    <table id="incidencias" class="display table-striped" style="display:none" width="100%">
        <thead>
            <tr>                
                <th width="3%">&nbsp;</th>
                <th width="5%">N°Ticket</th>                                
                <th width="10%">Fecha Inicio</th>             
                <th width="10%">Fecha Salida</th>             
                <th width="8%">Severidad</th>                       
                <th width="12%">Estado</th>                
                <th width="4%">Show/Edit</th>                
                <th width="4%">Tocada</th>         
            </tr>
        </thead>
        <tbody>        
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
    <ul>
        <li>
            <a href="{{ path('incidencia_new') }}">Nueva Incidencia</a>
        </li>
    </ul>
    {% endif %}
<div id="dialog-form" title="Agregar Observacion" style="padding:1em;display:none">     
    <input id="observacion" class="form-control" style="padding:1em;margin:1em;width:95%" value="" />                    
</div>            
{% endblock %}
{% block javascripts %}
<script>
    var $anio = $('#form_Anio');
    var $mes = $('#form_Mes');
    var $estado = $('#form_Estado');
    var $componente = $('#form_Componente');        
    var $resetFiltros = $('#form_Reset');
    var cambioEstado = false;
    
    var loader = new Image();
    loader.src = '{{ asset('bundles/monitor/images/loader-minitrans.gif') }}';
    loader.className = 'loader';      

    var reset = new Image();
    reset.src = '{{ asset('bundles/monitor/images/reset_1.png') }}';
    reset.className = 'save';
    
    $resetFiltros.children(':eq(0)').append(reset);    
    
    $( window ).load(function() {
        $('#filtros').show();
    });
    
    function updateTitle(){
        if($estado.find('option:selected').text() == 'Resueltas'){
            $('#title').html("Incidencias "+
                         $estado.find('option:selected').text()+" "+
                         $componente.find('option:selected').text()+" "+
                         $mes.find('option:selected').text()+" "+
                         $anio.val());           
        }        
        else{
            $('#title').html("Incidencias "+
                         $estado.find('option:selected').text()+" "+
                         $componente.find('option:selected').text()
                         );           
        }
    }
    
    /* Formatting function for row details - modify as you need */
    function format_historial(d){
        var html='<table width="100%"><thead><th width="20">Fecha</th><th width="20">Estado</th><th width="20">Responsable</th><th width="40">Observacion</th></thead><tbody>';
        
        $.each(d, function(k,v){            
            html=html+'<tr><td>'+v[0]+'</td><td>'+v[1]+'</td><td>'+v[2]+'</td><td><small>'+v[3]+'</small></td></tr>';            
        });
        
        html=html+'</tbody></table>';
        
        return html;
    }
    
    /* Formatting function for row details - modify as you need */
    function format_comentario(d){
        var html='<table width="100%">';
        
        $.each(d, function(k,v){            
            html=html+'<tr><td><i class="fa fa-comment-o"></i>&nbsp;<i>'+v[0]+'</i></td></tr>';            
        });
        
        html=html+'</tbody></table>';
        
        return html;
    }
    
    var dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 200,
      width: 500,
      modal: true,
      buttons: {
        "Aceptar": addObservacion,
        Cancel: function() {
            $('#observacion').val('');
            dialog.dialog( "close" );          
        }
      },
      close: function() {        
      }
    });
    
    function addObservacion() {
        var link=$("#dialog-form").data('link');        
        $(link).attr('href',$(link).attr('href').replace(/null(?![\s\S]*null)/,$('#observacion').val()));  
        //alert($(link).attr('href'));
        $(link).click();        
    }                
    
    $(function() {
        $('#incidencias th').removeClass('ui-state-default');    
        $('#incidencias').show();                        
        updateTitle();
    });     
    
    var oTable = $('#incidencias').DataTable({            
            bPagination: true,                        
            //"pagingType": "full_numbers",
            //iDisplayLength: 4,
            lengthMenu: [[4, 25, 50, -1], [4, 25, 50, "Todos"]],            
            pageLength: 4,
            bJQueryUI: false,            
            bServerSide: true,
            sAjaxSource: '{{ path('incidencia_body') }}',            
            sServerMethod: 'GET',
            bProcessing: true,
            order: [[ 7, 'desc' ]],
            aoColumnDefs: [
                    {
                    aTargets: [0],
                    orderable: false,                    
                    class: 'fillRate'   
                    },                    
                    {
                    aTargets: [7],
                    visible: false,
                    searchable: false  
                    },                              
                    {
                    aTargets: [1,2,3,4,5],
                    class: 'cols'                
                    },              
                    {
                    aTargets: [6],
                    class: 'details-control'                
                    }                      
                ],
            //lengthChange: true,
            dom: 'Blfrtip',                      
            buttons: [
                //'copy', 'csv', 'excel', 'pdf', 'print'
                'excel'
            ],
            language: {
                lengthMenu: " _MENU_ registros por página",
                zeroRecords: "No se encontraron registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                infoEmpty: "No hay registros disponibles",
                infoFiltered: "(filtered from _MAX_ total records)",
                sSearch: "Buscar:",
                sProcessing: "Procesando...",
                oPaginate: {
                    sPrevious: "«",
                    sNext: "»",                    
                }
            },                    
            fnDrawCallback: function( oSettings ) {
                $('#incidencias th').removeClass('ui-state-default');                  
                $('.dataTables_paginate').removeClass('ui-buttonset');                  
                $('.fg-button').removeClass('ui-state-default');                       
            },
            fnServerData: function ( sSource, aoData, fnCallback ) {
			/* Add some extra data to the sender */
			aoData.push( { "name": "anio", "value": $anio.val() } );
                        aoData.push( { "name": "mes", "value": $mes.val() } );
                        aoData.push( { "name": "estado", "value": $estado.val() } );
                        aoData.push( { "name": "componente", "value": $componente.val() } );                     
                        aoData.push( { "name": "nombreComponente", "value": $componente.find(':selected').text() } );
                        aoData.push( { "name": "resetFiltros", "value": $resetFiltros.find(':checked').val() } );                        
                        
			$.getJSON( sSource, aoData, function (json) { 
                            /* Do whatever additional processing you want on the callback, then tell DataTables */                                
                            //$('div.toolbar').html(json.pap);
                            fnCallback(json)
                                                        
                            $(".dropdown-menu > li > a.trigger").on("click",function(e){                                                    
                                var current=$(this).next();
                                var grandparent=$(this).parent().parent();
                                if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
                                    $(this).toggleClass('right-caret left-caret');
                                grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
                                grandparent.find(".sub-menu:visible").not(current).hide();
                                current.toggle();
                                e.stopPropagation();
                            });

                            $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
                                var root=$(this).closest('.dropdown');
                                root.find('.left-caret').toggleClass('right-caret left-caret');
                                root.find('.sub-menu:visible').hide();
                            });                                      
                            
                            $( "a.estados" ).on( "click", function(e) {                                                                                                   
                                if($(this).parent().parent().prev().text()==$(this).text())
                                    return false;
                                //if($(this).text()=='Resuelta MT' || $(this).text()=='En Gestión FONASA' || 
                                   //$(this).text()=='Pendiente MT'){
                                    if($('#observacion').val().trim()==''){
                                        dialog.data('link',$(this));
                                        dialog.dialog( "open" );
                                        return false;                 
                                    }
                                    else{                                        
                                        dialog.dialog( "close" );
                                        window.location=$(this).attr('href');                                                                                        
                                    }
                                    return false;
                                //}
                                //else
                                    //return true;                                
                            });
                            
                            //Si se resetean los filtros recargar los filtros
                            if($resetFiltros.find(':checked').val()){                                                                                                    
                                location.reload();  
                            }                            
                            //Si se modifica el filtro por estado recargar los filtros
                            if(cambioEstado){                                         
                                // Show full page Loading Overlay
                                location.reload();  
                            }                                                        
			});
                    }                    
                }); 
                
        // Add event listener for opening and closing details
        $('#incidencias tbody').on('click', 'td.details-control .ver_historial', function () {            
            var tr = $(this).closest('tr');
            var row = oTable.row( tr );
            $(this).find('i').replaceWith('<i class="fa fa-spinner fa-spin"></i>');
            
            //$(this).parent().next().find('i').
                                    
            $.getJSON('{{ path('incidencia_historial') }}',{ 'id' : $(this).attr('id') }, function(data){                                 
                 
                if (row.child.isShown())
                {
                    $('i.fa-spinner').replaceWith('<i class="fa fa-list"></i>');
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else 
                {
                    $('i.fa-spinner').replaceWith('<i class="fa fa-chevron-up"></i>');
                    row.child( format_historial(data) ).show();                                     
                    tr.addClass('shown');
                }                            
            });                
        }); 
        
        // Add event listener for opening and closing details
        $('#incidencias tbody').on('click', 'td.details-control .ver_comentario', function () {            
            var tr = $(this).closest('tr');
            var row = oTable.row( tr );
            $(this).find('i').replaceWith('<i class="fa fa-spinner fa-spin"></i>');
                                    
            $.getJSON('{{ path('incidencia_comentario') }}',{ 'id' : $(this).attr('id') }, function(data){                                
        
                if (row.child.isShown())
                {
                    $('i.fa-spinner').replaceWith('<i class="fa fa-comment-o"></i>');
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else 
                {
                    $('i.fa-spinner').replaceWith('<i class="fa fa-chevron-up"></i>');
                    row.child( format_comentario(data) ).show();                                     
                    tr.addClass('shown');
                }                            
            });                
        });          
        
        $anio.change(function() {
            updateTitle();
            oTable.draw();            
        });
        
        $mes.change(function() {
            updateTitle();
            oTable.draw();            
        });
        
        $estado.change(function(e) {            
            $(e.target).parent().children(':eq(0)').append(loader);
            cambioEstado = true;
            updateTitle();
            oTable.draw();            
        });
        
        $componente.change(function() {
            updateTitle();
            oTable.draw();            
        });
        
        $resetFiltros.click(function() {            
            $(reset).parent().children(':eq(1)').replaceWith(loader);    
            $(this).attr('disabled',true);            
            updateTitle();
            oTable.draw();            
        });
        
        setInterval( function () {
            oTable.draw(false);
        }, 30000 );        
        
</script>
{% endblock %}
