{% block stylesheets %}
{% endblock %}
{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}    
    <h2>Nueva Incidencia {{ app.session.get('nombreComponente') }}</h2>
    <div id="form" style="width:60%;display:none">
        <div class="btn-group pull-right">            
            <a href="#" id="adjuntarDocumento2" class="add_tag_link btn btn-default" role="button">                            
                Adjuntar
                <i class="glyphicon glyphicon-paperclip">                       
                </i>
            </a>                                        
            <a href="#" id="agregarComentario2" class="add_tag_link btn btn-default" role="button">                            
                Comentar
                <i class="fa fa-comment-o">                       
                </i>
            </a>                            
        </div>
        <div class="panel-body">
        {{ form_start(form) }}        
        {{ form_errors(form) }}   
        {% if form.componente is defined %}
            {{ form_row(form.componente) }}
        {% endif %}    
        {{ form_row(form.categoriaIncidencia) }}
        {{ form_label(form.numeroTicket) }}
        <div class="form-group input-group">        
            <span class="input-group-addon" id="basic-addon2">Ticket#</span>
            {{ form_widget(form.numeroTicket) }}            
        </div>                
        {{ form_row(form.descripcion) }}        
        {{ form_row(form.severidad) }}  
        {{ form_row(form.usuario) }}              
        <label class="control-label required">
            Comentarios
        </label>   
        <div class="form-group input-group" style="width:100%">    
            <ul class="comments" data-prototype="{{ form_widget(form.comentariosIncidencia.vars.prototype)|e }}">
                {% if form.comentariosIncidencia|length > 0  %}
                        {# iterate over each existing tag and render its only field: name #}                
                        {% for com in form.comentariosIncidencia %}
                            <div class="input-group comment-field">                                
                                {{ form_row(com.comentario) }}                                                                
                                <span class="input-group-btn">
                                    <a role="button" class="btn elim-doc" id="{{com.id.vars.value}}">
                                        <span class="glyphicon glyphicon-remove">                                    
                                        </span>
                                    </a>                                
                                </span>
                            </div>
                        {% endfor %}
                    {% else %}  
                        <div class="input-group comment-field place" id="place_holder2" style="width:100%;">
                            <h4 class="form-group" style="opacity:0.5">                                
                                Ningún Comentario
                            </h4>
                        </div>
                    {% endif %}
            </ul>   
            <a href="#" id="agregarComentario" class="add_tag_link btn active btn-info" role="button" style="display:none">                            
                <span class="glyphicon glyphicon-paperclip">                       
                </span>
            </a>
        </div>
        <label class="control-label required">
            Documentos Adjuntos
        </label>   
        <div class="form-group input-group" style="width:100%">    
            <ul class="files" data-prototype="{{ form_widget(form.documentosIncidencia.vars.prototype)|e }}">
                {% if form.documentosIncidencia|length > 0  %}
                        {# iterate over each existing tag and render its only field: name #}                
                        {% for doc in form.documentosIncidencia %}
                            <div class="input-group file-field">
                                {% if doc.tipoDocumentoIncidencia is defined %}                    
                                    {{ form_row(doc.tipoDocumentoIncidencia) }}
                                    {{ form_row(doc.archivo) }}                     
                                {% else %}  
                                    <div class="form-group">
                                        <a href="{{ asset('bundles/monsis/uploads/' ~ doc.archivo.vars.value ) }}">                                    
                                            {{ doc.nombre.vars.value }}
                                        </a>
                                    </div>
                                {% endif %}
                                <span class="input-group-btn">
                                    <a role="button" class="btn elim-doc" id="{{doc.archivo.vars.value}}">
                                        <span class="glyphicon glyphicon-remove">                                    
                                        </span>
                                    </a>                                
                                </span>
                            </div>
                        {% endfor %}
                    {% else %}  
                        <div class="input-group file-field place" id="place_holder" style="width:100%;">
                            <h4 class="form-group" style="opacity:0.5">                                
                                Ningún Documento Adjunto                                
                            </h4>
                        </div>
                    {% endif %}
            </ul>   
            <a href="#" id="adjuntarDocumento" class="add_tag_link btn active btn-info" role="button" style="display:none">                            
                <span class="glyphicon glyphicon-paperclip">                       
                </span>
            </a>
        </div>        
        <input type="submit" class='btn btn-primary form-control active' style="display:none" value="Create" />
        <button id="validate_form" class="btn btn-primary active" type="button">Ingresar</button>
    {{ form_end(form) }}
    </div>   
    </div>
    <ul>
        <li>
            <a href="{{ path('incidencia_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
var $collectionHolder;
var $collectionHolder2;

// setup an "add a tag" link
//var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
var $addFileLink = $('#adjuntarDocumento');
var $newLinkLi = $('').append($addFileLink);

var $addCommentLink = $('#agregarComentario');
var $newLinkLi2 = $('').append($addCommentLink);

$( window ).load(function() {
   $('#form').show();
});

$('#adjuntarDocumento2').click(function(){
   $( "#adjuntarDocumento" ).trigger( "click" ); 
});    

$('#agregarComentario2').click(function(){
   $( "#agregarComentario" ).trigger( "click" ); 
});    

var $origen = $('#incidencia_origenIncidencia');

var $codigoInterno = $('#incidencia_numeroTicket');
var $validar= $('#validar');
// When sport gets selected ...

var $componente = $('#incidencia_componente');

var loader = new Image();
loader.src = '{{ asset('bundles/monsis/images/loader-minitrans.gif') }}';
loader.className = 'loader';

var save = new Image();
save.src = '{{ asset('bundles/monsis/images/save_2.png') }}';
save.className = 'save';

$validateForm=$('#validate_form');
$validateForm.append(save);

$(function() {
    $( "#incidencia_fechaReporte_date" ).datepicker();
    
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.files');
    $collectionHolder2 = $('ul.comments');

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addFileFormDeleteLink($(this));
    });        
    
    $collectionHolder2.find('li').each(function() {
        addCommentFormDeleteLink($(this));
    });        
    
    //////////////////////////////////////////////////
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.files');
    $collectionHolder2 = $('ul.comments');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);
    $collectionHolder2.append($newLinkLi2);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);
    $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

    $addFileLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL        
        e.preventDefault();

        // add a new tag form (see next code block)
        addFileForm($collectionHolder, $addFileLink);
    });
    
    $addCommentLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL        
        e.preventDefault();        
        // add a new tag form (see next code block)
        addCommentForm($collectionHolder2, $addCommentLink);
    });
    ////////////////////////////////////////////////////////////////
});  

// When sport gets selected ...
$componente.change(function() {
  $('#incidencia_categoriaIncidencia').parent().children(':eq(0)')
    .append('<img class="loader" alt="" style=";margin-left:10px" src="{{ asset('bundles/monsis/images/loader-minitrans.gif') }}">');    
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data[$componente.attr('name')] = $componente.val(); 
  // Submit data via AJAX to the form's action path.    
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace current position field ...
      $('#incidencia_categoriaIncidencia').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#incidencia_categoriaIncidencia')                
      );
      // Position field now displays the appropriate positions.
      $('.loader').remove();
    }
  });
});

$validar.click(function(){
    
  $(this).parent().children(':eq(0)')
          .append('<img class="loader" alt="" style=";margin-left:10px" src="{{ asset('bundles/monsis/images/loader-minitrans.gif') }}">');    
  // ... retrieve the corresponding form.  
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data['numeroTicket'] = $('#incidencia_numeroTicket').val();
  data['id'] = $('#incidencia_id').val();
  // Submit data via AJAX to the form's action path.
  $.post("{{ path('incidencia_check') }}",data,function(data){
        var icon;
        var css;
        if(data.error){          
            icon='<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;';
            css='alert alert-danger';
            $('#incidencia_numeroTicket').focus();                    
        } 
        else{
            icon='<span class="glyphicon glyphicon glyphicon-ok-sign"></span>&nbsp;';
            css='alert alert-success';
        }
        $('#incidencia_numeroTicket').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: icon+data.message
            },
            show: {
                ready: true,
                delay: 50
            },
            style: {
                classes: css,
                def: false,                    
            },            
            position: {
                    my: 'top left',  // Position my top left...
                    at: 'bottom center', // at the bottom right of...
                    target: $('#incidencia_numeroTicket') // my target
                }                
        });      
      // Position field now displays the appropriate positions.
      $('.loader').remove();    
  });    
});

$validateForm.click(function(){ 

  $(save).replaceWith(loader);    
  $(this).attr('disabled',true);
    
  var error = false;
  var data = {};
  data['numeroTicket'] = $('#incidencia_numeroTicket').val(); 
  data['id'] = $('#incidencia_id').val();
  // Submit data via AJAX to the form's action path.
  $('.form-group').each(function(){           
       $field=$(this).find('input,select,textarea');              
       
       if($field.val()===''){   
            error = true;
            $field.focus();
            $field.qtip({ // Grab some elements to apply the tooltip to
                content: {
                    text: '<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;Completa este campo'
                },
                show: {
                    ready: true,
                    delay: 50
                },
                style: {
                    classes: 'alert alert-danger',
                    def: false,                    
                },            
                position: {
                        my: 'top left',  // Position my top left...
                        at: 'bottom center', // at the bottom right of...
                        target: $field // my target
                    }                
            });
            return false;
       }           
       else{
            $('.qtip').remove();
       }
  });
  
  if(error){
    $(loader).replaceWith(save);
    $validateForm.attr('disabled',false);
    return false;
  }
  
  $.post("{{ path('incidencia_check') }}",data,function(data){
      if(data.error){          
          $('#incidencia_numeroTicket').focus();
          $('#incidencia_numeroTicket').qtip({ // Grab some elements to apply the tooltip to
                content: {
                    text: '<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;'+data.message
                },
                show: {
                    ready: true,
                    delay: 50
                },
                style: {
                    classes: 'alert alert-danger',
                    def: false,                    
                },            
                position: {
                        my: 'top left',  // Position my top left...
                        at: 'bottom center', // at the bottom right of...
                        target: $('#incidencia_numeroTicket') // my target
                    }                
            });       
            $(loader).replaceWith(save);
            $validateForm.attr('disabled',false);
      } 
      else{    
            //alert($('#incidencia_documentosIncidencia').html());
            //return false;
            $('form[name="incidencia"]').submit();
      }
      // Position field now displays the appropriate positions.      
  });    
});

function addFileForm($collectionHolder, $newLinkLi) {
    // ocultar place_holder
    $('#place_holder').hide();
    
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div class="input-group file-field" style="margin-left:40px">').append(newForm);
    $newLinkLi.before($newFormLi);
    
    // add a delete link to the new form
    addFileFormDeleteLink($newFormLi);
}

function addFileFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<span class="input-group-btn"><a role="button" class="btn elim-doc" href="#"><span class="glyphicon glyphicon-remove"></span></a></span></div>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
                
        // si no hay file fields mostrar placeholder        
        if( $('.file-field').length <= 2)
            $('#place_holder').show();
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

function addCommentForm($collectionHolder2, $newLinkLi2) {    
    // ocultar place_holder
    $('#place_holder2').hide();
    
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder2.data('prototype');

    // get the new index
    var index = $collectionHolder2.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder2.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div class="input-group comment-field" style="margin-left:40px">').append(newForm);
    $newLinkLi2.before($newFormLi);
    
    // add a delete link to the new form
    addCommentFormDeleteLink($newFormLi);
}

function addCommentFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<span class="input-group-btn"><a role="button" class="btn elim-doc" href="#"><span class="glyphicon glyphicon-remove"></span></a></span></div>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
                
        // si no hay file fields mostrar placeholder        
        if( $('.comment-field').length <= 2)
            $('#place_holder2').show();
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}