{% block stylesheets %}
{% endblock %}
{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}    
    <h1>Nueva Incidencia</h1>
    <div id="form" style="width:60%;display:none">
        {{ form_start(form) }}        
        {{ form_errors(form) }}        
        {{ form_row(form.componente) }}
        {{ form_row(form.categoriaIncidencia) }}
        {{ form_label(form.numeroTicket) }}
        <div class="form-group input-group">        
            <span class="input-group-addon" id="basic-addon2">Ticket#</span>
            {{ form_widget(form.numeroTicket) }}            
        </div>                
        {{ form_row(form.descripcion) }}        
        {{ form_row(form.severidad) }}  
        <div class="form-group input-group" style="width:100%">    
            <ul class="tags" data-prototype="{{ form_widget(form.documentosIncidencia.vars.prototype)|e }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for doc in form.documentosIncidencia %}
                    <li>{{ form_widget(doc.nombre) }}</li>
                {% endfor %}
            </ul>   
            <a href="#" id="adjuntarDocumento" class="add_tag_link btn active btn-info" role="button" style="display:none">                            
            <span class="glyphicon glyphicon-paperclip">                       
            </span>
        </a>
        </div>
        <input type="submit" class='btn btn-primary form-control active' style="display:none" value="Create" />
        <button id="validate_form" class="btn btn-primary active" type="button">Crear</button>
        <a href="#" id="adjuntarDocumento2" class="add_tag_link btn active btn-info" role="button" style="float:right">                            
            <span class="glyphicon glyphicon-paperclip">                       
            </span>
        </a>
    {{ form_end(form) }}
    </div>    
    <ul>
        <li>
            <a href="{{ path('incidencia_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
var $collectionHolder;

// setup an "add a tag" link
//var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
var $addTagLink = $('#adjuntarDocumento');
var $newLinkLi = $('').append($addTagLink);

$( window ).load(function() {
   $('#form').show();
});

$('#adjuntarDocumento2').click(function(){
   $( "#adjuntarDocumento" ).trigger( "click" ); 
});
    
$(function() {
    $( "#incidencia_fechaReporte_date" ).datepicker();
    
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.tags');

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    
    //////////////////////////////////////////////////
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.tags');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL        
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $addTagLink);
    });
    ////////////////////////////////////////////////////////////////
});  

var $origen = $('#incidencia_origenIncidencia');

var $codigoInterno = $('#incidencia_numeroTicket');
var $validar= $('#validar');
// When sport gets selected ...

var $componente = $('#incidencia_componente');

var loader = new Image();
loader.src = '{{ asset('bundles/monsis/images/loader-minitrans.gif') }}';
loader.className = 'loader';

var save = new Image();
save.src = '{{ asset('bundles/monsis/images/save_2.png') }}';
save.className = 'save';

$validateForm=$('#validate_form');
$validateForm.append(save);

// When sport gets selected ...
$componente.change(function() {
  $('#incidencia_categoriaIncidencia').parent().children(':eq(0)')
    .append('<img class="loader" alt="" style=";margin-left:10px" src="{{ asset('bundles/monsis/images/loader-minitrans.gif') }}">');    
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data[$componente.attr('name')] = $componente.val(); 
  // Submit data via AJAX to the form's action path.    
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace current position field ...
      $('#incidencia_categoriaIncidencia').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#incidencia_categoriaIncidencia')                
      );
      // Position field now displays the appropriate positions.
      $('.loader').remove();
    }
  });
});

$validar.click(function(){
    
  $(this).parent().children(':eq(0)')
          .append('<img class="loader" alt="" style=";margin-left:10px" src="{{ asset('bundles/monsis/images/loader-minitrans.gif') }}">');    
  // ... retrieve the corresponding form.  
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data['numeroTicket'] = $('#incidencia_numeroTicket').val();
  data['id'] = $('#incidencia_id').val();
  // Submit data via AJAX to the form's action path.
  $.post("{{ path('incidencia_check') }}",data,function(data){
        var icon;
        var css;
        if(data.error){          
            icon='<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;';
            css='alert alert-danger';
            $('#incidencia_numeroTicket').focus();                    
        } 
        else{
            icon='<span class="glyphicon glyphicon glyphicon-ok-sign"></span>&nbsp;';
            css='alert alert-success';
        }
        $('#incidencia_numeroTicket').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: icon+data.message
            },
            show: {
                ready: true,
                delay: 50
            },
            style: {
                classes: css,
                def: false,                    
            },            
            position: {
                    my: 'top left',  // Position my top left...
                    at: 'bottom center', // at the bottom right of...
                    target: $('#incidencia_numeroTicket') // my target
                }                
        });      
      // Position field now displays the appropriate positions.
      $('.loader').remove();    
  });    
});

$validateForm.click(function(){ 

  $(save).replaceWith(loader);    
  $(this).attr('disabled',true);
    
  var error = false;
  var data = {};
  data['numeroTicket'] = $('#incidencia_numeroTicket').val(); 
  data['id'] = $('#incidencia_id').val();
  // Submit data via AJAX to the form's action path.
  $('.form-group').each(function(){           
       $field=$(this).find('input,select,textarea');              
       
       if($field.val()===''){   
            error = true;
            $field.focus();
            $field.qtip({ // Grab some elements to apply the tooltip to
                content: {
                    text: '<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;Completa este campo'
                },
                show: {
                    ready: true,
                    delay: 50
                },
                style: {
                    classes: 'alert alert-danger',
                    def: false,                    
                },            
                position: {
                        my: 'top left',  // Position my top left...
                        at: 'bottom center', // at the bottom right of...
                        target: $field // my target
                    }                
            });
            return false;
       }           
       else{
            $('.qtip').remove();
       }
  });
  
  if(error){
    $(loader).replaceWith(save);
    $validateForm.attr('disabled',false);
    return false;
  }
  
  $.post("{{ path('incidencia_check') }}",data,function(data){
      if(data.error){          
          $('#incidencia_numeroTicket').focus();
          $('#incidencia_numeroTicket').qtip({ // Grab some elements to apply the tooltip to
                content: {
                    text: '<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>&nbsp;'+data.message
                },
                show: {
                    ready: true,
                    delay: 50
                },
                style: {
                    classes: 'alert alert-danger',
                    def: false,                    
                },            
                position: {
                        my: 'top left',  // Position my top left...
                        at: 'bottom center', // at the bottom right of...
                        target: $('#incidencia_numeroTicket') // my target
                    }                
            });       
            $(loader).replaceWith(save);
            $validateForm.attr('disabled',false);
      } 
      else{        
        $('form[name="incidencia"]').submit();
      }
      // Position field now displays the appropriate positions.      
  });    
});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div class="input-group file-field">').append(newForm);
    $newLinkLi.before($newFormLi);
    
    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<span class="input-group-btn"><a role="button" class="btn elim-doc" href="#"><span class="glyphicon glyphicon-remove"></span></a></span></div>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}