{% extends 'base.html.twig' %}  
{% block stylesheets %}
{% endblock %}
{% block body %}
        {% for flash_message in app.session.flashbag.get('notice') %}            
    <div class="alert alert-info alert-dismissible" role="alert">                
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="margin:0px">
            <span class="glyphicon glyphicon glyphicon-ok-sign"></span>&nbsp;
            &nbspOperación realizada con éxito
        </h3>
        <div>
            <ul>
                {% set foo = flash_message|split('|') %}
                {% for var in foo %}                            
                <li style="margin:10px">                    
                    {{ var }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>                    
    {% endfor %}
    <h1>Incidencia</h1>    
    <div style="width:100%">
    <fieldset class="scheduler-border" >
    <legend class="scheduler-border">Datos de la Incidencia</legend>
    <div class="control-group">
        <table width="100%" class="table" border="0">
            <tr>
                <th width="20%">
                    Componente:
                </th>
                <td width="80%">
                    {{ incidencia.componente.nombre }}        
                </td>                            
            </tr>
            <tr>
                <th width="20%">
                    Tipo:
                </th>
                <td width="80%">
                    {{ incidencia.categoriaIncidencia.nombre }}        
                </td>                     
            </tr>
            <tr>
                <th width="20%">
                    N°Ticket:
                </th>
                <td width="80%">
                    {{ incidencia.numeroTicket }}        
                </td>                     
            </tr>            
            <tr>
                <th width="20%">
                    Severidad:
                </th>
                <td width="80%">
                    {{ incidencia.severidad.nombre }}        
                </td>                     
            </tr>                        
            <tr>
                <th width="20%">
                    Estado:
                </th>
                <td width="80%">
                    {{ incidencia.estadoIncidencia.nombre }}        
                </td>                     
            </tr>                  
            <tr>
                <th width="20%">
                    Mantención asociada:
                </th>
                <td width="80%">
                    {% if incidencia.mantenciones|length > 0 %}
                        {{ incidncia.mantenciones[0].codigoIngerno }}
                    {% else %}
                        -
                    {% endif %}                          
                </td>                     
            </tr>                              
            <tr>
                <th width="20%">
                    Descripción:
                </th>
                <td width="80%">
                    {{ incidencia.descripcion }}                         
                </td>                     
            </tr>               
        </table>
    </div>
    </fieldset>    
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Eventos</legend>
            <div class="control-group">
                <table width="100%" class="table" border="0">
                    <tr>
                        <th width="20%">
                            Fecha Reporte:
                        </th>
                        <td width="80%">
                            {% if incidencia.fechaReporte %}{{ incidencia.fechaReporte|date('Y-m-d H:i') }}{% endif %}                
                        </td>                     
                    </tr>               
                    <tr>
                        <th width="20%">
                            Fecha Ingreso:
                        </th>
                        <td width="80%">
                            {% if incidencia.fechaIngreso %}{{ incidencia.fechaIngreso|date('Y-m-d H:i') }}{% endif %}
                        </td>                     
                    </tr>                                   
                    <tr>
                        <th width="20%">
                            Fecha Inicio:
                        </th>
                        <td width="80%">
                            {% if incidencia.fechaInicio %}
                                {{ incidencia.fechaInicio|date('Y-m-d H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>                     
                    </tr>                    
                    <tr>
                        <th width="20%">
                            Fecha Término:
                        </th>
                        <td width="80%">
                            {% if incidencia.fechaSalida %}
                                {{ incidencia.fechaSalida|date('Y-m-d H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>                     
                    </tr>                                        
                </table>
            </div>
    </fieldset>                    
    </div>
    <ul>
        <li>
            <a href="{{ path('incidencia_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('incidencia_edit', { 'id': incidencia.id }) }}">Editar</a>
        </li>
        <li>
            <a href="{{ path('incidencia_edit', { 'id': incidencia.id }) }}">Levantar Mantención</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-warning">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
