{% extends 'base.html.twig' %}  
{% block stylesheets %}
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}            
    <div class="alert alert-info alert-dismissible" role="alert">                
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="margin:0px">
            <span class="glyphicon glyphicon glyphicon-ok-sign"></span>&nbsp;
            &nbspOperación realizada con éxito
        </h3>
        <div>
            <ul>
                {% set foo = flash_message|split('|') %}
                {% for var in foo %}                            
                <li style="margin:10px">                    
                    {{ var }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>                    
    {% endfor %}
    <h1>Incidencia</h1>    
    <div id="form" style="width:100%">
    <fieldset class="scheduler-border" >
    <legend class="scheduler-border">Datos de la Incidencia</legend>
    <div class="control-group">
        <table width="100%" class="table" border="0">
            <tr>
                <th width="20%">
                    Componente:
                </th>
                <td width="80%">
                    {{ incidencia.componente.nombre }}        
                </td>                            
            </tr>
            <tr>
                <th width="20%">
                    Tipo:
                </th>
                <td width="80%">
                    {{ incidencia.categoriaIncidencia.nombre }}        
                </td>                     
            </tr>
            <tr>
                <th width="20%">
                    N°Ticket:
                </th>
                <td width="80%">
                    {{ incidencia.numeroTicket }}        
                </td>                     
            </tr>            
            <tr>
                <th width="20%">
                    Severidad:
                </th>
                <td width="80%">
                    {{ incidencia.severidad.nombre }}        
                </td>                     
            </tr>                        
            <tr>
                <th width="20%">
                    Estado:
                </th>
                <td width="80%">
                    {{ incidencia.estadoIncidencia.nombre }}        
                </td>                     
            </tr>                  
            <tr>
                <th width="20%">
                    Mantención asociada:
                </th>
                <td width="80%">
                    {% if incidencia.mantenciones|length > 0 %}
                        {{ incidencia.mantenciones[0].codigoInterno }}
                    {% else %}
                        -
                    {% endif %}                          
                </td>                     
            </tr>                              
            <tr>
                <th width="20%">
                    Descripción:
                </th>
                <td width="80%">
                    {{ incidencia.descripcion }}                         
                </td>                     
            </tr>               
        </table>
    </div>
    </fieldset>    
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Eventos</legend>
            <div class="control-group">
                <table width="100%" class="table" border="0">                           
                    <tr>
                        <th width="20%">
                            Fecha Ingreso:
                        </th>
                        <td width="80%">
                            {% if incidencia.fechaIngreso %}{{ incidencia.fechaIngreso|date('Y-m-d H:i') }}{% endif %}
                        </td>                     
                    </tr>                                   
                    <tr>
                        <th width="20%">
                            Fecha Inicio:
                        </th>
                        <td width="80%">
                            {% if incidencia.fechaInicio %}
                                {{ incidencia.fechaInicio|date('Y-m-d H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>                     
                    </tr>                    
                    <tr>
                        <th width="20%">
                            Fecha Término:
                        </th>
                        <td width="80%">
                            {% if incidencia.fechaSalida %}
                                {{ incidencia.fechaSalida|date('Y-m-d H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>                     
                    </tr>                                        
                </table>
            </div>    
    </fieldset>   
    <button id="delete" class="btn btn-warning" type="button" style="float:right">Eliminar</button>                                                
    </div>        
    <div>
        <ul>
            <li>
                <a href="{{ path('incidencia_index') }}">Volver</a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <a href="{{ path('incidencia_edit', { 'id': incidencia.id }) }}">Editar</a>
                </li>
                {% if incidencia.estadoIncidencia.nombre in ['Pendiente MT'] and incidencia.mantenciones|length == 0 %}
                <li>
                    <a href="{{ path('incidencia_mantencion', { 'id': incidencia.id }) }}">Levantar Mantención</a>
                </li>
                {% endif %}                            
            {% endif %}
        </ul>
    </div>
    {{ form_start(delete_form) }}
        <input type="submit" style="display:none" value="Eliminar" class="btn btn-warning">
    {{ form_end(delete_form) }}                    
{% endblock %}
{% block javascripts %}
<script>
    
$( window ).load(function() {
   $('#form').show();
});    

var loader = new Image();
loader.src = '{{ asset('bundles/monsis/images/loader-minitrans.gif') }}';
loader.className = 'loader';

var del = new Image();
del.src = '{{ asset('bundles/monsis/images/delete_3.png') }}';
del.className = 'save';

$deleteForm=$('#delete');
$deleteForm.append(del);

$deleteForm.click(function(){

    if(confirm("¿Está seguro que desea eliminar esta incidencia?")){
        $(del).replaceWith(loader);    
        $(this).attr('disabled',true);

        $('form[name="form"]').submit();
    }
});
</script>    
{% endblock %}