{% extends 'base.html.twig' %}  
{% block stylesheets %}
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}            
    <div class="alert alert-info alert-dismissible" role="alert">                
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="margin:0px">
            <span class="glyphicon glyphicon glyphicon-ok-sign"></span>&nbsp;
            &nbspOperación realizada con éxito
        </h3>
        <div>
            <ul>
                {% set foo = flash_message|split('|') %}
                {% for var in foo %}                            
                <li style="margin:10px">                    
                    {{ var }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>                    
    {% endfor %}    
        <div class="col-md-5">
            <h1>
                Incidencia {{ incidencia.numeroTicket }}
            </h1>
        </div>
        <div class="col-md-6">
            <h1>
                {{ incidencia.estadoIncidencia.nombre }}
            </h1>
        </div>  
        <div class="col-md-1">
            {{ fill_ratio|raw }}
            <br>
        </div>              
        <div id="form" class="col-md-7">
        <fieldset class="scheduler-border" >
        <legend class="scheduler-border">Datos de la Incidencia</legend>
        <div class="control-group">
            <table width="100%" class="table" border="0">
                <tr>
                    <th width="30%">
                        Componente:
                    </th>
                    <td width="70%">
                        {{ incidencia.componente.nombre }}        
                    </td>                            
                </tr>
                <tr>
                    <th width="30%">
                        Tipo:
                    </th>
                    <td width="70%">
                        {{ incidencia.categoriaIncidencia.nombre }}        
                    </td>                     
                </tr>
                <tr>
                    <th width="30%">
                        N°Ticket:
                    </th>
                    <td width="70%">
                        {{ incidencia.numeroTicket }}        
                    </td>                     
                </tr>            
                <tr>
                    <th width="30%">
                        Severidad:
                    </th>
                    <td width="70%">
                        {{ incidencia.severidad.nombre }}        
                    </td>                     
                </tr>                        
                <tr>
                    <th width="30%">
                        Estado:
                    </th>
                    <td width="70%">
                        {{ incidencia.estadoIncidencia.nombre }}        
                    </td>                     
                </tr>                  
                <tr>
                    <th width="30%">
                        Mantención asociada:
                    </th>
                    <td width="70%">
                        {% if incidencia.mantenciones|length > 0 %}
                            <a href="{{ path('mantencion_show', { 'id': incidencia.mantenciones[0].id }) }}">{{ incidencia.mantenciones[0].codigoInterno }}</a>
                        {% else %}
                            -
                        {% endif %}                          
                    </td>                     
                </tr>                              
                <tr>
                    <th width="30%">
                        Descripción:
                    </th>
                    <td width="70%">
                        {{ incidencia.descripcion }}                         
                    </td>                     
                </tr>               
            </table>
        </div>
        </fieldset>            
        {% if incidencia.comentariosIncidencia|length > 0 %}
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Comentarios</legend>
                    <div class="control-group">
                        <table width="100%" class="table" border="0">
                        {% for com in incidencia.comentariosIncidencia %}   
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-comment">                       
                                    </span>
                                    {{ com.comentario }}
                                </td>
                            </tr>    
                        {% endfor %}
                        </table>
                    </div>
            </fieldset>
        {% endif %}                        
        {% if incidencia.documentosIncidencia|length > 0 %}
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Adjuntos</legend>
                    <div class="control-group">
                        <table width="100%" class="table" border="0">
                        {% for doc in incidencia.documentosIncidencia %}   
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-paperclip">                       
                                    </span>
                                    <a href="{{ asset('bundles/monsis/uploads/' ~ doc.archivo) }}">                                    
                                        {{ doc.nombre }}
                                    </a>
                                </td>
                            </tr>    
                        {% endfor %}
                        </table>
                    </div>
            </fieldset>
        {% endif %}                                                      
        <fieldset class="scheduler-border" >
            <legend class="scheduler-border">Datos de la Asignación</legend>
            <div class="control-group">
                <table width="100%" class="table" border="0">
                    <tr>
                        <th width="20%">
                            Responsable:
                        </th>
                        <td width="80%">
                            {% if incidencia.usuario is not null %}       
                                {{ incidencia.usuario.username }}        
                            {% else %}
                                -
                            {% endif %}
                        </td>                                      
                    </tr>                    
                </table>
            </div>
            </fieldset>     
        </div>        
        <div class="col-md-5">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Eventos</legend>
                    <div class="control-group" id="eventos">                        
                    </div>
            </fieldset>
        </div>             
    <div class="col-md-12">
        <button id="delete" class="btn btn-danger active" type="button" style="float:right">Eliminar</button>         
        <ul>
            <li>
                <a href="{{ path('incidencia_index') }}">Volver</a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <a href="{{ path('incidencia_edit', { 'id': incidencia.id }) }}">Editar</a>
                </li>
                {% if incidencia.estadoIncidencia.nombre in ['Pendiente MT'] and incidencia.mantenciones|length == 0 %}
                <li>
                    <a href="{{ path('incidencia_mantencion', { 'id': incidencia.id }) }}">Levantar Mantención</a>
                </li>
                {% endif %}                            
            {% endif %}
        </ul>
    </div>
    {{ form_start(delete_form) }}
        <input type="submit" style="display:none" value="Eliminar" class="btn btn-error active">
    {{ form_end(delete_form) }}                    
{% endblock %}
{% block javascripts %}
<script>
    
$( window ).load(function() {
   $('#form').show();
});    

$(function() {
    $('#eventos').timelineMe({
      //orientation: 'horizontal',
      //scrollZones: true,
      scrollArrows: true,
      scrollBar: true,
      items: {{ eventos|raw }}
    });
});

var loader = new Image();
loader.src = '{{ asset('bundles/monsis/images/loader-minitrans.gif') }}';
loader.className = 'loader';

var del = new Image();
del.src = '{{ asset('bundles/monsis/images/delete_3.png') }}';
del.className = 'save';

$deleteForm=$('#delete');
$deleteForm.append(del);

$deleteForm.click(function(){

    if(confirm("¿Está seguro que desea eliminar esta incidencia?")){
        $(del).replaceWith(loader);    
        $(this).attr('disabled',true);

        $('form[name="form"]').submit();
    }
});
</script>    
{% endblock %}