{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Mantencion edit</h1>
    <div style="width:60%">
    {{ form_start(edit_form) }}
        {{ form_start(edit_form) }}              
        {{ form_start(edit_form) }}        
        {{ form_errors(edit_form) }}                        
        {{ form_row(edit_form.componente) }}
        {% if edit_form.tipoRequerimiento is defined %}
            {{ form_row(edit_form.tipoRequerimiento) }}
        {% endif %}
        {% if edit_form.numeroRequerimiento is defined %}
            {{ form_label(edit_form.numeroRequerimiento) }}        
            <div class="form-group input-group">        
                <span class="input-group-addon" id="basic-addon1">Req#</span>
                {{ form_widget(edit_form.numeroRequerimiento) }}
                <span class="input-group-btn">
                    <button id="validar" class="btn btn-secondary" type="button">Validar</button>
                </span>
            </div>                 
        {% endif %}
        {{ form_label(edit_form.tipoMantencion) }}                    
        <div id="form_tipoMantencion">                    
            {% for child in edit_form.tipoMantencion %}
                {{ form_label(child) }} 
                <label class="radio-inline">                                       
                {{ form_widget(child) }}
                </label>                
            {% endfor %}
        </div>    
        {{ form_label(edit_form.codigoInterno) }}
        <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon2">SIGG-M?</span>
            {{ form_widget(edit_form.codigoInterno) }}
        </div>                    
        {{ form_row(edit_form.descripcion) }}
        {{ form_row(edit_form.severidad) }}
        {{ form_row(edit_form.usuario) }}                
        {{ form_row(edit_form.hhEstimadas) }}                
        <div id="form_inicioProgramado">                    
            {% for child in edit_form.inicioProgramado %}
                {{ form_label(child) }} 
                <label class="radio-inline">                                       
                {{ form_widget(child) }}
                </label>                
            {% endfor %}
        </div>            
        {% if edit_form.fechaInicio is defined %}
            {{ form_row(edit_form.fechaInicio) }}        
        {% endif %}
        <input type="submit" value="Editar" class="btn btn-primary" />
    {{ form_end(edit_form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('mantencion_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-warning">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
