{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}            
    <div class="alert alert-info alert-dismissible" role="alert">                
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="margin:0px">
            <span class="glyphicon glyphicon glyphicon-ok-sign"></span>&nbsp;
            &nbspOperación realizada con éxito
        </h3>
        <div>
            <ul>
                {% set foo = flash_message|split('|') %}
                {% for var in foo %}                            
                <li style="margin:10px">                    
                    {{ var }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>                    
    {% endfor %}
    <h1>Mantencion</h1>

<div style="width:100%">
    <fieldset class="scheduler-border" >
    <legend class="scheduler-border">Datos de la Mantención</legend>
    <div class="control-group">
        <table width="100%" class="table" border="0">
            <tr>
                <th width="20%">
                    Componente:
                </th>
                <td width="80%">
                    {{ mantencion.componente.nombre }}        
                </td>                            
            </tr>
            <tr>
                <th width="20%">
                    Origen:
                </th>
                <td width="80%">
                    {{ mantencion.origenMantencion.nombre }}        
                </td>                     
            </tr>
            {% if mantencion.tipoRequerimiento is not null %}            
            <tr>                        
                <th width="20%">
                    Tipo Requerimiento:
                </th>
                <td width="80%">
                    {{ mantencion.tipoRequerimiento.nombre }}        
                </td>                                     
            </tr>            
            <tr>
                <th width="20%">
                    N°Requerimiento:
                </th>
                <td width="80%">
                    {{ mantencion.numeroRequerimiento }}        
                </td>                     
            </tr>
            {% endif %}            
            {% if mantencion.incidencia is not null %}            
            <tr>                        
                <th width="20%">
                    Tipo Incidencia:
                </th>
                <td width="80%">
                    {{ mantencion.incidencia.categoriaIncidencia.nombre }}        
                </td>                                     
            </tr>            
            <tr>
                <th width="20%">
                    N°Ticket:
                </th>
                <td width="80%">
                    {{ mantencion.incidencia.numeroTicket }}        
                </td>                     
            </tr>
            {% endif %}                        
            <tr>
                <th width="20%">
                    N°Mantencion:
                </th>
                <td width="80%">
                    {{ mantencion.codigoInterno }}        
                </td>                     
            </tr>                        
            <tr>
                <th width="20%">
                    Estado:
                </th>
                <td width="80%">
                    {{ mantencion.estadoMantencion.nombre }}        
                </td>                     
            </tr>                                                            
            <tr>
                <th width="20%">
                    Descripción:
                </th>
                <td width="80%">
                    {{ mantencion.descripcion }}                         
                </td>                     
            </tr>               
        </table>
    </div>
    </fieldset>        
    <fieldset class="scheduler-border" >
    <legend class="scheduler-border">Datos de la Asignación</legend>
    <div class="control-group">
        <table width="100%" class="table" border="0">
            <tr>
                <th width="20%">
                    Responsable:
                </th>
                <td width="80%">
                    {% if mantencion.usuario is not null %}       
                        {{ mantencion.usuario.username }}        
                    {% else %}
                        -
                    {% endif %}
                </td>                                      
            </tr>
            <tr>
                <th width="20%">
                    HH Estimadas:
                </th>
                <td width="80%">
                    {{ mantencion.hhEstimadas }}        
                </td>                     
            </tr>
            <tr>
                <th width="20%">
                    HH Reales:
                </th>
                <td width="80%">
                    {{ mantencion.hhEfectivas }}        
                </td>                     
            </tr>                        
        </table>
    </div>
    </fieldset>                        
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Eventos</legend>
            <div class="control-group">
                <table width="100%" class="table" border="0">                                   
                    <tr>
                        <th width="20%">
                            Fecha Ingreso:
                        </th>
                        <td width="80%">
                            {% if mantencion.fechaIngreso %}
                                {{ mantencion.fechaIngreso|date('Y-m-d H:i') }}
                            {% endif %}
                        </td>                     
                    </tr>                                   
                    <tr>
                        <th width="20%">
                            Fecha Inicio:
                        </th>
                        <td width="80%">
                            {% if mantencion.fechaInicio %}
                                {{ mantencion.fechaInicio|date('Y-m-d H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>                     
                    </tr>                    
                    <tr>
                        <th width="20%">
                            Fecha Término:
                        </th>
                        <td width="80%">
                            {% if mantencion.fechaSalida %}
                                {{ mantencion.fechaSalida|date('Y-m-d H:i') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>                     
                    </tr>                                        
                </table>
            </div>
    </fieldset>                        
    <ul>
        <li>
            <a href="{{ path('mantencion_index') }}">Back to the list</a>
        </li>
        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <a href="{{ path('mantencion_edit', { 'id': mantencion.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-warning">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
