{% extends 'base.html.twig' %}

{% block body %}
    <h1>Incidencia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ incidencium.id }}</td>
            </tr>
            <tr>
                <th>Codigoorigen</th>
                <td>{{ incidencium.codigoOrigen }}</td>
            </tr>
            <tr>
                <th>Codigointerno</th>
                <td>{{ incidencium.codigoInterno }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ incidencium.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechareporte</th>
                <td>{% if incidencium.fechaReporte %}{{ incidencium.fechaReporte|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{% if incidencium.fechaIngreso %}{{ incidencium.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechasalida</th>
                <td>{% if incidencium.fechaSalida %}{{ incidencium.fechaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaulthh</th>
                <td>{% if incidencium.fechaUltHh %}{{ incidencium.fechaUltHh|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idcomponente</th>
                <td>{{ incidencium.idComponente }}</td>
            </tr>
            <tr>
                <th>Idorigenincidencia</th>
                <td>{{ incidencium.idOrigenIncidencia }}</td>
            </tr>
            <tr>
                <th>Idestadoincidencia</th>
                <td>{{ incidencium.idEstadoIncidencia }}</td>
            </tr>
            <tr>
                <th>Idcategoriaincidencia</th>
                <td>{{ incidencium.idCategoriaIncidencia }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('incidencia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('incidencia_edit', { 'id': incidencium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
